/* MiningCard.css */

.miningcard {
    background-color: #ff9933; /* Dark yellow color */
    border: 1px solid #ccc;
    box-shadow: 2px  rgba(40, 56, 0, 0.1); /* Subtle shadow */
    padding: 20px;
    margin-left: 20px;
    margin-top: 130px;
    width: 400px;
    height:400px;
    font-size: 30px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
  }
  
 .miningcard h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
 .miningcard p {
    margin: 5px 0;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  